body{
    margin: 0;
    padding: 0;
    background-color: #101010;
}

header svg{
    width: 24px;
    padding: 20px 40px;
    fill: #4b4c4f;
    border-radius: 10px;
    &:hover{
       background-color: rgb(30,30,30);
    }
}

.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(16,16,16,0.91);
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
}

h1,h2,p{
    margin: 5px;
    color: rgb(250,250,250);
}

button.primary{
    border: rgb(114,114,114) solid 1px;
    background-color: transparent;
    padding: 7px;
    margin: 15px 0;
    border-radius: 7px;
    color: rgb(250,250,250);
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.profile-page-container{
    width: 50%;
    margin: auto;
    padding-top:35px;
}

svg{
    cursor: pointer;
}